.seciton-background{
  background-image: linear-gradient(to right, #4FFFDC, #488C83, #197568);
}


.especialidades-container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px 20px;
}

.especialidades-conteudo{
  margin-top: 80px;
  margin-bottom: 80px;
  text-align: left;
}

.especialidades-conteudo h1{
  font-size: 2.3rem;
  text-transform: uppercase;
}


.especialidades-conteudo p{
  margin-bottom: 50px;
  line-height: 1.5;
  font-size: 1.125rem;
  max-width: 40ch;
}

.especialidades-conteudo p span{
  font-weight: bolder;
}

.especilidades-itens{
    display: flex;
    gap: 80px;
    justify-content: center;
    text-align: center;
}

.especilidades-itens img{
  margin: 0 auto;
  max-width: 80px;
  background-color: var(--cor-0);
  border-radius: 45%;
  padding: 15px;
}

.especilidades-itens h2{
  font-size: 1.2rem;
  margin-top: 20px;
  margin-bottom: 20px;
  
}

.especilidades-itens li{
  border: 3px solid var(--cor-0);
  padding: 85px 40px;
  border-radius: 24px;
  position: absolute;
}

/* CONSEGUIR MANIPULAR A POSIÇÃO DOS BOTOES */
.especilidades-itens li .btn-1{
  margin: 0 auto;
  position: relative;
  top: 20px;
}

.especilidades-itens li .btn-2{
  margin: 0 auto;
  position: relative;
  top: 50px;
}

.especilidades-itens li .btn-3{
  margin: 0 auto;
  position: relative;
  top: 70px;
}
/* CONSEGUIR MANIPULAR A POSIÇÃO DOS BOTOES */

 /* EFEITO DE FLUTUAR AO PASSAR O MOUSE EM CIMA */
.especilidades-itens li:first-child, .especilidades-itens li:last-child{
  position: relative;
  top: 40px;
  transition: .6s;
}

.especilidades-itens li:first-child:hover, .especilidades-itens li:last-child:hover{
  top: 0px;
}

.especilidades-itens li:nth-child(2){
  position: relative;
  top: 0px;
  transition: .6s;
}

.especilidades-itens li:nth-child(2):hover{
  top: -25px;
}
 /* EFEITO DE FLUTUAR AO PASSAR O MOUSE EM CIMA */

.especilidades-itens li p{
  font-size: 1rem;
  max-width: 40ch;
}

.especilidades-itens .btn:hover{
  box-shadow: 0px 0px 20px 5px #1dd81a8e;
}

@media (max-width: 1125px){
  .especilidades-itens{
    gap: 40px;
    flex-wrap: wrap;
  }

  .especilidades-itens li:first-child, .especilidades-itens li:last-child{
    position: initial;
    top: 40px;
    transition: .6s;
  }
  
  .especilidades-itens li:nth-child(2){
    position: initial;
  }
}

@media (max-width: 900px){
  .especilidades-itens .btn{
    display: block;
  }
}

/* BOTÕES BOTÕES BTN !!!!!! */

@media (max-width:1165px){
  .especilidades-itens li .btn-3{
    margin: 0 auto;
    position: relative;
    top: 120px;
  }
}

@media (max-width:1125px){
  .especilidades-itens li .btn-1{
    margin: 0 auto;
    position: relative;
    top: 20px;
  }
  
  .especilidades-itens li .btn-2{
    margin: 0 auto;
    position: relative;
    top: 20px;
  }
  
  .especilidades-itens li .btn-3{
    margin: 0 auto;
    position: relative;
    top: 20px;
  }
  }
/* BOTÕES BOTÕES BTN !!!!!! */