@import "./global/global.css";

@import "./home/header.css";
@import "./home/inicio.css";
@import "./home/especialidades.css";
@import "./home/sobre.css";
@import "./home/projetos.css";


@import "./global/ultilidades/colors.css";
@import "./global/ultilidades/typography.css";

 /* PARA O EFEITO DA ANIMAÇÃO PARA OS LADOS OU PARA CIMA OU BAIXO
.js .fadeInDown {
  transform: translate3d(0, -20px, 0);
}
.js .fadeInUp {
  transform: translate3d(0, 20px, 0);
}
.js .fadeInRight {
  transform: translate3d(20px, 0, 0);
}
.js .fadeInLeft {
  transform: translate3d(-20px, 0, 0);
}

.js [data-anime]{
  opacity: 0;
}
.js .anime {
  opacity: 1;
  transform: none;
  transition: transform 0.8s, opacity 0.8s;
}
*/ 

/* ANIMASCROLL LEFT >>  */
.js-scroll{
  opacity: 0;
  transform: translate3d(-30px, 0, 0);
  transition: .5s;
}

.js-scroll.ativo{
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
/* ANIMASCROLL LEFT >>  */

/* ANIMASCROLL DOWN>>  */
.js-scroll-down{
  opacity: 0;
  transform: translate3d(0, 60px, 0);
  transition: .5s;
}

.js-scroll-down.ativo{
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
/* ANIMASCROLL DOWN >>  */

/* PROJETO ANIMA SCROLL PARA ESPECIALIADES */
.js-li-scroll1{
  opacity: 0;
  transform: translate3d(-80px, 0, 0);
  transition: .5s;
}

.js-li-scroll1.ativo{
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.js-li-scroll2{
  opacity: 0;
  transform: translate3d(0, 60px, 0);
  transition: .5s;
}

.js-li-scroll2.ativo{
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.js-li-scroll3{
  opacity: 0;
  transform: translate3d(80px, 0, 0);
  transition: .5s;
}

.js-li-scroll3.ativo{
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

@media (max-width:700px){
  .js-li-scroll1{
    opacity: 0;
    transform: translate3d(-30px, 0, 0);
    transition: .5s;
  }
  

  .js-li-scroll3{
    opacity: 0;
    transform: translate3d(30px, 0, 0);
    transition: .5s;
  }
}

@media (max-width:500px){
  .js-li-scroll1{
    opacity: 0;
    transform: translate3d(-20px, 0, 0);
    transition: .5s;
  }
  

  .js-li-scroll3{
    opacity: 0;
    transform: translate3d(20px, 0, 0);
    transition: .5s;
  }
}
/* PROJETO ANIMA SCROLL PARA ESPECIALIADES */

/* PROJETO ANIMA SCROLL PARA PROJETOS */
.js-projeto1{
  opacity: 0;
  transform: translate3d(-80px, 0, 0);
  transition: .5s;
}

.js-projeto1.ativo{
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.js-projeto2{
  opacity: 0;
  transform: translate3d(0, 60px, 0);
  transition: .5s;
}

.js-projeto2.ativo{
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.js-projeto3{
  opacity: 0;
  transform: translate3d(80px, 0, 0);
  transition: .5s;
}

.js-projeto3.ativo{
  opacity: 1;
  transform: translate3d(0, 0, 0);
}


@media (max-width:585px){
  .js-projeto1{
    opacity: 0;
    transform: translate3d(-20px, 0, 0);
    transition: .5s;
  }
  

  .js-projeto3{
    opacity: 0;
    transform: translate3d(20px, 0, 0);
    transition: .5s;
  }
}
/* PROJETO ANIMA SCROLL PARA PROJETOS */

/* DEIXAR A SCROLLBAR (BARRINHA DE ROLAGEM PERSONALIZADA) */
::-webkit-scrollbar{
  background-color: #2C2C39;
  width: 15px;
  height: 5px;
}

::-webkit-scrollbar-thumb{
  background-image: linear-gradient(to bottom, #4FFFDC, #5eb4a9, #1c8d7e);
  border-radius: 12px;
}