:root{
  --cor-0: #fff;
  --cor-1: #000;
  --cor-2: #16ff12;
  --cor-4: #d6d4d4;
  --cor-5: #232323;
}

.cor-0{
  color: var(--cor-0);
}

.cor-1{
  color: var(--cor-1);
}

.cor-2{
  color: var(--cor-2);
}

.cor-4{
  color: var(--cor-4);
}